<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<title>Media Player</title>

<body>
<h1>Media Player</h1>
<section layout:fragment="content">
    <ol th:each="music : ${recentlyPlayed}">
        <li th:text="${music.title}">Music name</li>
    </ol>

    <hr>

    <form th:action="@{/scan}" method="post">
        <fieldset>
            <input type="text" name="directory" placeholder="Directory">
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</section>
<footer layout:fragment="footer">
    Testing
</footer>
</body>
</html>